---
import Problem from "./Problem.astro";
import Objectives from "./Objectives.astro";
import Tools from "./Tools.astro";
import Outcomes from "./Outcomes.astro";
import Projects from "./Projects.astro";
import Video from "./Video.astro";
---

<section id="abstract">
  <Problem />
  <Objectives />
  <Tools />
  <Outcomes />
  <Projects />
  <Video />
</section>
