---
interface Props {
  variant?: "solid" | "outline";
}

const { variant = "solid" } = Astro.props;

const baseClasses =
  "px-4 py-2 rounded transition text-lg font-semibold cursor-pointer focus:outline-none focus:ring-4 focus:ring-[#FABB04]/50 flex items-center justify-center gap-2 hover:scale-105 duration-200";

const variantClasses = {
  solid:
    "bg-[#FABB04] text-white hover:bg-[#F19800] border-2 border-transparent",
  outline:
    "bg-transparent text-[#FABB04] border-2 border-[#FABB04] hover:bg-[#FABB04] hover:text-white",
};
---

<button class={`${baseClasses} ${variantClasses[variant]}`}>
  <slot />
</button>
