---
import Container from "./Container.astro";
---

<section class="flex items-center py-20 bg-gray-900">
  <Container>
    <div class="flex flex-col items-center gap-6">
      <h1 class="text-4xl font-bold text-center text-white">
        Problem Statement
      </h1>
      <p class="max-w-2xl text-xl text-center text-gray-300">
        ในปัจจุบันนักศึกษาหลายคนยังขับขี่มอเตอร์ไซค์เข้ามาในมหาวิทยาลัยโดย
        ไม่สวมหมวกกันน็อค แม้ว่าจะมีกฎบังคับและเจ้าหน้าที่คอยตรวจสอบ
        แต่ด้วยข้อจำกัดด้านเวลาและจำนวนบุคลากร
        ทำให้ไม่สามารถตรวจได้ครบทุกคันตลอดเวลา บางครั้งเกิดการพลาดหรือปล่อยผ่าน
        ซึ่งเพิ่มความเสี่ยงต่อความปลอดภัยของผู้ขับขี่และลดภาพลักษณ์ด้านความปลอดภัยของมหาวิทยาลัยโดยรวม
      </p>
      <p class="max-w-2xl text-xl text-center text-gray-300">
        ดังนั้นจึงมีแนวคิดในการพัฒนา ระบบตรวจจับหมวกกันน็อคอัตโนมัติ (Helmet
        Detection System) ที่สามารถทำงานได้ตลอด 24 ชั่วโมง
        โดยไม่ต้องพึ่งสายตามนุษย์ และสามารถควบคุมการเปิดไม้กั้นได้โดยอัตโนมัติ
        เพื่อเพิ่มประสิทธิภาพในการควบคุมและส่งเสริมการสวมหมวกกันน็อคของนักศึกษาอย่างยั่งยืน
      </p>
    </div>
  </Container>
</section>
